*{
  margin:0;
  padding: 0;
}

body{
  background-image: url("desk.jpeg");
}

.phone{
  max-width:300px;
  margin:10rem auto;
  box-shadow: -7px 8px 5px 0px rgba(0,0,0,0.75);
}

.phone-top{
  height: 1.2rem;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.phone-bottom{
  height: 2rem;
  background-color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}

.fingerprint{
  height: 1rem;
  width: 17%;
  border: 1px solid silver;
  border-radius: 5px;
  background-color: rgb(4, 4, 5);
  position: absolute;
  top: .3rem;
  left: 130px;
}

.camera{
  width: 3.5%;
  height: .5rem;
  border-radius: 50%;
  background-color: rgb(41, 43, 45);
  position: absolute;
  top: 4px;
  left: 5rem;
}

.speaker{
  width:20%;
  margin:0 auto;
  border-top: 4px solid;
  border-radius: 5px;
  height:.4rem;
  background-color:rgb(41, 43, 45);
  position: relative;
}

.grills{
  display: inline-block;
  height: .2rem;
  width: 10%;
  border-radius: 50%;
  background-color: black;
  margin-bottom: .6rem;
  margin-left: .13rem;
}

.number-display{
  height:10rem;
  /* background-color: rgb(4, 4, 5); */
  background-color: #18191c;
  overflow:hidden;
  padding-right: 1rem;
}

.output{
  font-size: 3rem;
  direction: rtl;
  color: #f4f4f4;
  padding-top: 4rem;
  padding-right: 1rem;
}

.wrapper{
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.four{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-column: 4/5;
  grid-row: 1/5;
}

.numBtn{
  padding:1.5rem 1rem;
  font-size: 1.5rem;
  width: 100%;
  border: none;
  color: #f4f4f4;
  background-color: #131519;
}

#Numbtn4,#Numbtn5,#Numbtn6{
  border-bottom: 1px solid #131519;
}

.opBtn{
  width: 100%;
  font-size: 1.5rem;
  padding:1rem;
  border:none;
  border-bottom: 1px solid #282b30;
  color: #f4f4f4;
  background-color: #282b30;
}
